*{
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin:0px;
    padding:0px;
    color:black;
}

h1{
    font-size: 48px;
    font-weight: 100;
}

.content{
    font-size: 20px;
    font-weight: lighter;
}

.contents1_bold{
    font-size: 18px;
    font-weight: bold;
}

.contents3{
    font-size: 14px;
    font-weight: 100;
}
.result{
    font-size: 24px;
}

.intro_bg{
    background-image:url("image/flash-4244923_1920-1.png");
    width:100%;
    height: 718px;
}

.header{
    display:flex;
    width:1280px;
    margin:auto;
    height:86px;
}

.searchArea{
    width:300px;
    height:40px;
    background:rgba(0,0,0,0.5);
    border-radius:5px;
    margin-top:24px;
}

.searchArea >form > input{ 
    border:none;
    width:250px;
    height:40px;
    padding-left: 10px;
    background:rgba(0,0,0,0);
    color:#fff;
}

.searchArea > form > span{
    width:50px;
    color:#fff;
    font-weight:bold;
    cursor: pointer;
}

.nav{
    display:flex;
    justify-content: flex-end;
    line-height: 86px;
    width:calc(1280px - 300px);
    
}

.nav > li{
    margin-left:84px;
}

.nav > li > a{color:#fff;}

.amount{
    position:relative;
    top:-66px;
    display: flex;
    width: 1280px;
    background: #fff;
    box-shadow: 0px 0px 10ps rgba(0,0,0,0.1);
    margin:auto;
}

.amount > li{
    flex: 1;
    height: 132px;
}

.amount > li > div{
    text-align: center;
    margin-top: 37px;
    height:57px;
}

.amount > li:not(:last-child) > div {
    border-right:1px solid #E1E1E1;
}

.intro_text{
    width: 100%;
    margin:231px auto 231px auto;
    text-align: center;
}

.intro_text > h1,
.intro_text > h4{
    color:#fff;
}

.main_text0{
    width: 100%;
    height: 601px;
    margin-top:-132px;
    background: #f1f2f3;
}
.main_text0 > h1{
    padding-top:116px;
    text-align: center;
}

.main_text0 > .contents1{
    text-align: center;
}

.icons{
    display:flex;
    width:1280px;
    margin:auto;
}

.icons > li{
    flex:1;
    background: white;
    height:302px;
    margin-top:49px;
    text-align: center;
}

.icon > li > .icon_img{
    margin-top: 36px;
}

.icons > li:not(:last-child){
    margin-right:20px;
}

.icons .contents2{
    width: 240px;
    margin: auto;
    widows: 240px;
    letter-spacing: -1px;
}

.more{
    width:100px;
    height: 30px;
    background: #2f7AF4;
    color: #fff;
    font-size: 12px;
    line-height: 30px;
    margin: 25px auto;
}

/* main_text1 */

.main_text1{
    width: 100%;
    height: 659px;
}
.main_text1 > h1{
    padding-top: 50px;
    text-align: center;
}
.main_text1 > .contents1{ 
    text-align: center;
}
.service{
    width:1280px;
    display: flex;
    margin: 49px auto;
    height:427px;
}
.service > .contents2{
    padding:20px;
}

.service > .contents2 > h2{
    margin-bottom: 27px;
}

/* main_text2 */
.main_text2 {
    width:100%;
    height: 418px;
    background-image: url("image/flash-4244923_1920.png")
}

.main_text2 > ul{
    display: flex;
    padding-top: 138px;
}

.main_text2 > ul > li{
    flex: 1;
    text-align:center;
}

.main_text2 > ul > li > div > h1,
.main_text2 > ul > li > div{
    color:#fff;
}

.more2{
    width:220px;
    height:40px;
    border: 1px solid #fff;
    line-height: 40px;
    cursor: pointer;
    margin: 16px auto;
}

footer{
    display:flex;
    background:#1F1F1F;
}

footer > div:first-child{
    flex:3;
    text-align: center;
    color:#fff;
    font-size: 48px;
    padding-top: 45px;
}

footer > div:last-child{
    flex:9;
    color:#fff;
    width:631px;
    height:144px;
    margin-top: 40px;
}